body {
  font-size: 18px;
}

header {
  background-color: white;

  z-index: 10;
}

.navbar {
  height: 80px;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  color: hsl(233, 8%, 62%);
}

.nav-link:hover {
  color: black;
}

.nav-item::after {
  content: '';
  display: block;
  position: relative;
  bottom: 0;
  width: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  transition: width 200ms ease;
}

.nav-item:hover::after {
  width: 100%;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}

button {
  color: white;
  border: 0;
  background: -webkit-linear-gradient(
    left,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  padding: 1% 2.5% 1% 2.5%;
  border-radius: 30px;
  font-weight: 500;
}

button:hover {
  opacity: 0.6;
}

.intro-container {
  background: linear-gradient(hsl(0, 0%, 98%), white);
}

.introduction {
  margin-left: 12%;
}

.hero-image {
  position: relative;
  overflow: hidden;
  display: flex;
}

.hero-image > img {
  position: relative;
  top: -25%;
  right: 5%;
}

.hero-image > img:nth-of-type(2) {
  position: absolute;
  top: -10%;
  right: -15%;
}

h1 {
  font-size: 55px;
  font-weight: 400;
}

.btn2 {
  padding: 2% 4.5% 2% 4.5%;
}

p {
  color: hsl(233, 8%, 62%);
}

.main-container {
  margin-top: -22%;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}

.main-container > div > h2 {
  padding-top: 8%;
  font-size: 45px;
  font-weight: 400;
}

.flex-article {
  padding-top: 5%;
  padding-bottom: 5%;
}

.flex-item {
  width: 24.5%;
}

.article-container {
  background: linear-gradient(white, hsl(0, 0%, 98%));
  padding-top: 8%;
}

.article-container > h2 {
  font-size: 45px;
  font-weight: 400;
  padding-bottom: 4%;
}

.card {
  width: 24%;
  margin-bottom: 8%;
  border: 0;
}

.card-img-top {
  height: 100%;
}

.card-body > span {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

.card-title {
  font-size: 23px;
  font-weight: 400;
  margin-top: 4%;
  margin-bottom: 4%;
}

.card-title > a {
  text-decoration: none;
  color: hsl(233, 26%, 24%);
}

.card-title > a:hover {
  color: hsl(136, 65%, 51%);
}

.card-text {
  font-size: 16px;
}
